<!DOCTYPE html>
<html>
<head>
  <title>MoveIt! Web</title>

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css"/>

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://cdn.robotwebtools.org/threejs/current/three.js"></script>
  <script src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.js"></script>
  <script src="http://cdn.robotwebtools.org/roslibjs/current/roslib.js"></script>
  <script src="http://cdn.robotwebtools.org/ros3djs/current/ros3d.js"></script>
  <script src="http://cdn.robotwebtools.org/ColladaAnimationCompress/current/ColladaLoader2.js"></script>

  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%= render 'layouts/nav_bar' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


  <%= yield %>

</body>
</html>
